@import url('./header.css');
@import url('./footer.css');

:root {
    --fonte-principal: 'Montserrat', sans-serif;
    --fonte-logo: 'Inter', sans-serif;
    --preto: #000000;
    --branco: #FFFFFF;
    --azul-escuro: #2B2A4C;
    --vermelho: #B31312;
    --laranja-claro: #EA906C;
    --branco-claro: #EEE2DE;
}

body {
    font-family: var(--fonte-principal);
    color: var(--preto);
    font-size: 16px;
}

.cabecalho__logo-link {
    text-decoration: none;
}